# {{ ansible_managed }}
# This is a very minimal configuration. It is recommended to have a dedicated
# config file per VirtualHost in conf.d/*
#
ServerRoot              {{ wtd_httpd_ServerRoot }}
User                    {{ wtd_httpd_User }}
Group                   {{ wtd_httpd_Group }}
PidFile                 {{ wtd_httpd_PidFile }}

ServerTokens            {{ wtd_httpd_ServerTokens }}
UseCanonicalName        {{ wtd_httpd_UseCanonicalName }}
ServerSignature         {{ wtd_httpd_ServerSignature }}

Listen                  {{ wtd_httpd_Listen }}

Timeout                 {{ wtd_httpd_Timeout }}
MaxRequestWorkers       {{ wtd_httpd_MaxRequestWorkers }}

# Load Modules
Include                 {{ wtd_httpd_ModulesPath }}

ErrorLog                {{ wtd_httpd_ErrorLog }}
LogLevel                {{ wtd_httpd_LogLevel }}

<IfModule mime_module>
    TypesConfig /etc/mime.types
</IfModule>

<IfModule mime_magic_module>
    MIMEMagicFile conf/magic
</IfModule>

# Never change this block
<Directory />
    AllowOverride none
    Require all denied
</Directory>

# Load additional config files, if any.
IncludeOptional {{ wtd_httpd_ConfigPath }}
