# {{ ansible_managed }}
# This is a very minimal configuration. It is recommended to have a dedicated
# config file per VirtualHost in conf.d/*
#
ServerName              {{ wtd_httpd_httpd_conf_ServerName }}
ServerAdmin             {{ wtd_httpd_httpd_conf_ServerAdmin }}
ServerRoot              {{ wtd_httpd_httpd_conf_ServerRoot }}
User                    {{ wtd_httpd_httpd_conf_User }}
Group                   {{ wtd_httpd_httpd_conf_Group }}
PidFile                 {{ wtd_httpd_httpd_conf_PidFile }}

ServerTokens            {{ wtd_httpd_httpd_conf_ServerTokens }}
UseCanonicalName        {{ wtd_httpd_httpd_conf_UseCanonicalName }}
ServerSignature         {{ wtd_httpd_httpd_conf_ServerSignature }}
AddDefaultCharset       {{ wtd_httpd_httpd_conf_AddDefaultCharset }}
TraceEnable             {{ wtd_httpd_httpd_conf_TraceEnable }}

Listen                  {{ wtd_httpd_httpd_conf_Listen }}

Timeout                 {{ wtd_httpd_httpd_conf_Timeout }}
MaxRequestWorkers       {{ wtd_httpd_httpd_conf_MaxRequestWorkers }}

# Load Modules
Include                 {{ wtd_httpd_httpd_conf_ModulesPath }}

ErrorLog                {{ wtd_httpd_httpd_conf_ErrorLog }}
LogLevel                {{ wtd_httpd_httpd_conf_LogLevel }}

<IfModule log_config_module>
  LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
  LogFormat "%h %l %u %t \"%r\" %>s %b" common
</IfModule>

CustomLog               {{ wtd_httpd_httpd_conf_AccessLog }}

#EnableMMAP off
EnableSendfile on

<IfModule mime_module>
    TypesConfig /etc/mime.types
</IfModule>

<IfModule mime_magic_module>
    MIMEMagicFile conf/magic
</IfModule>

# Below you can find the configuration for the default VirtualHost.
# It should be as minimal as possible.
DocumentRoot            {{ wtd_httpd_httpd_conf_DocumentRoot }}

<Directory />
    AllowOverride none
    Require all denied
</Directory>

# The following lines prevent .htaccess and .htpasswd files from being 
# viewed by Web clients. 
<Files ".ht*">
  Require all denied
</Files>

<Directory {{ wtd_httpd_httpd_conf_DocumentRoot }}>
  Require all granted
  Options None
</Directory>

# Load additional config files, if any.
IncludeOptional {{ wtd_httpd_httpd_conf_ConfigPath }}
